*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 800px;
    height: 400px;
    background-color: blue;
    position: relative;
}
.box1{
    position: absolute;
    height: 200px;
    width: 100px;
    background-color: red;
    animation: top 2s alternate infinite linear;
}
.box2{
     position: absolute;
    height: 200px;
    width: 100px;
    background-color: red; 
    right: 0;
    bottom: 0;
    animation: move 2s alternate infinite linear;
}
.ball{
     position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    left: 100px;
    top: 150px;
    animation: left 4s alternate infinite linear;


}

@keyframes move{
    0%{top: 0;}
    100%{top: 50%;}
}
@keyframes top{
    0%{bottom: 0;}
    100%{bottom: 50%;}
}

@keyframes left{
    0%{left: 100px;}
    /* 25%{left: 220px;} */
    50%{left: 360px;}
    /* 75%{left: 460px;} */

    100%{left: 600px;}
}